<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>TestApp</h1>
    <hr>
    <div class="content">
        <p>Service is deployed on the hostname <i>{{ hostname }}</i></p>
        <p>Connected to <b>{{ nodetype }}</b> node</p>
        <p>Latency details: <b>{{ latency_info }}</b></p>
        <br/>Data from MongoDB:</i>
        {% for todo in data %}
        <div class="todo">
            <p>_id:<i>{{ todo['_id'] }}</i> ,text:<i>{{ todo['text']}}</i></p>
        </div>
        {% endfor %}
    </div>
</body>
</html>